<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="silia" >
  
  <!-- common stuff -->
  <include filename="$(find cob_description)/urdf/common.xacro" />
  <include filename="$(find cob_kuka_description)/urdf/materials.urdf.xacro" />
  <include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="0"/>
	<property name="arm_y" value="0"/>
	<property name="arm_z" value="0.6"/>
	<property name="arm_roll" value="0"/>
	<property name="arm_pitch" value="0"/>
	<property name="arm_yaw" value="0"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="0.0"/>
	<property name="arm_2_ref" value="0.0"/>
	<property name="arm_3_ref" value="0.0"/>
	<property name="arm_4_ref" value="0.0"/>
	<property name="arm_5_ref" value="0.0"/>
	<property name="arm_6_ref" value="0.0"/>
	<property name="arm_7_ref" value="0.0"/>

  <!-- arm -->
  <include filename="$(find cob_kuka_description)/urdf/kr16/kr16.urdf.xacro" />
  
	<link name="base_link">
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="100.0"/>
			<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
		</inertial>
		<visual>
			<origin xyz="0 0 -0.07" rpy="0 0 0" />
			<geometry>
				<box size="0.01 0.01 0.01"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="0.01 0.01 0.01"/>
			</geometry>
		</collision>
	</link>
  
	<!-- workcell -->
	<joint name="stack_joint" type="fixed">
		<origin xyz="0 0 0.6" rpy="0 0 ${-3*M_PI/4}"/>
			<parent link="base_link"/>
			<child link="stack_link"/>
		</joint>
		<link name="stack_link">
			<inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="100"/>
				<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
			</inertial>

			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<!--cylinder radius="0.060" length="0.30"/-->
					<mesh filename="package://cob_kuka_description/meshes/kr16/stack.stl" />
				</geometry>
				<material name="Grey" />
			</visual>

			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://cob_kuka_description/meshes/kr16/stack.stl" />
				</geometry>
			</collision>
		</link>
        <gazebo reference="stack_link">
                <material>Gazebo/Grey</material>
                <turnGravityOff>false</turnGravityOff>
        </gazebo>

  <!-- composition of the robot -->
  <xacro:cob_kr16 name="arm" parent="base_link">
    <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
  </xacro:cob_kr16>
  
</robot>
