<?xml version="1.0"?>
<launch>

	<!-- upload joint configuration -->
	<rosparam command="load" ns="/script_server/arm" file="$(find cob_kuka_rsi)/config/arm_joint_configurations.yaml"/>

	<node name="arm_controller" pkg="cob_kuka_rsi" type="cob_kuka_rsi" respawn="false" output="screen" >
		<rosparam command="load" file="$(find cob_kuka_rsi)/config/rsi.yaml"/>
	</node>
	<node ns="arm_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller" cwd="node" respawn="false" output="screen" />

</launch>
